.main {
  :global(.mark-down-html) {
    table {
      width: 100%;
      margin: 8px 0 16px;
      empty-cells: show;
      border: 1px solid #ebedf0;
      border-collapse: collapse;
      border-spacing: 0;

      th {
        color: #5c6b77;
        font-weight: 500;
        white-space: nowrap;
        background: rgba(0, 0, 0, 0.02);
      }

      th,
      td {
        padding: 16px 24px;
        text-align: left;
        border: 1px solid #ebedf0;
      }

      td:first-child {
        color: #595959;
        font-weight: 600;
      }

      td:nth-child(3) {
        color: #c41d7f;
      }
    }

    pre {
      background: #f2f4f5;
      word-wrap: break-word;
      white-space: pre-wrap;
      padding: 0.2em 0.4em;
      font-size: 0.9em;
      border: 1px solid #eee;
      border-radius: 3px;
    }

    code {
      background: #f2f4f5;
    }
  }
}

.title {
  font-size: 30px;
}

.info {
  background: rgba(0, 0, 0, 0.04);
  padding: 20px;
  border-radius: 4px;

  pre {
    margin: 0;
  }
}

.example {
  :global(.example-driver-switch):hover {
    color: var(--primary-color);
  }

  :global(.example-driver-des) {
    white-space: pre-line;
  }
}

.part-title {
  margin-top: 30px;
}

.example-page {
  background: #FFFFFF;
}
